@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    background-size: contain;
    background-color:rgba(66, 63, 71, 0.829);
    font-family: 'Poppins', sans-serif;
}

@media (min-width:780px) {
    .container {
        position: relative;
        display: flex;
        justify-content: center;
        width: 820px;
    }
}

/*text on image for monitor*/
@media screen and (min-width:780px) {
    .picture p {
        position: absolute;
        color: white;
        left: 10px;
        bottom: 15px;
    }

    .picture a:visited{
        color: white;
        text-decoration: underline;
    }

    .picture a:hover{
        border-radius: 20px;
        text-shadow: 0 0 10px #ffffff, 0 0 30px #ffffff, 0 0 50px  #ffffff;
    }
}

/* text on image for mobile */
@media screen and (max-width:480vh){
    .picture p {
        position: absolute;
        color: white;
        left: 10px;
        bottom: 15px;
    }

    .picture a:visited{
        color: white;
        text-decoration: underline;
    }

}

/*footer position an size text for mobile*/
@media screen and (max-width:480vh) {
    footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 25px;
        margin: 50px;
        font-weight: 700;
        text-align: center;
    }
}

/*footer font size for bigger monitor*/
@media screen and (min-width:1200vh) {
    footer {
        font-size: 30px;
        margin: 50px;
        gap: 7px;
        font-weight: 700;
    }

}   


.main {
    display: flex;
    justify-content: center;
    padding-top:  5%;
}

.container {
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    background-image: linear-gradient(50deg, #f08e38, #28c9d4fa);
}

.picture {
    position: relative;
}

.picture img {
    border-radius: 5px;
    width: 400px;
    height: 600px;
    margin-bottom: 5px;
}

.textBox {
    border-radius: 5px;
    width: 380px;
    padding: 5px;
}

.registerForm {
    position: relative;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 235px;
    margin-top: 10px;
    height: 400px;
    padding: 5px;
}

.registerForm label {
    margin: 4px;
}

.registerForm input {
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
}

.registerForm p {
    position: relative;
    text-align: right;
    left: 108px;
}

.confirmations {
    display: flex;
    justify-content: space-between;
    width: 350px;
    padding: 5px;
    
}

.confirmations button {
    left: 18vw;
    bottom: 9vh;
    width: 90px;
    height: 80px;
    border-radius: 5px;
}

.confirmations li {
    list-style-type: none;
}

footer svg {
    color: black;
    transition: 0.3s;
    border-radius: 15px;
}

footer svg:hover{
    color: white;
    box-shadow: 0 0 10px #ffffff, 0 0 30px #ffffff, 0 0 60px  #ffffff;
}

