@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    background-size: contain;
    background-color:rgba(66, 63, 71, 0.829);
    font-family: 'Poppins', sans-serif;
}

@media (min-width:780px) {
    .container {
        position: relative;
        display: flex;
        justify-content: center;
        width: 820px;
    }
}

/*text on image for monitor*/
@media screen and (min-width:780px) {
    .picture p {
        position: absolute;
        color: white;
        left: 22px;
        bottom: 22px;
    }

    .picture a:visited{
        color: white;
        text-decoration: underline;
    }

    .picture a:hover{
        border-radius: 20px;
        text-shadow: 0 0 10px #ffffff, 0 0 30px #ffffff, 0 0 50px  #ffffff;
    }
}

/* text on image for mobile */
@media screen and (max-width:650px){
    .picture p {
        position: absolute;
        color: white;
        left: 32px;
        bottom: 110px;
    }

    .picture a:visited{
        color: white;
        text-decoration: underline;
    }

}

/*footer position an size text for mobile*/
@media screen and (max-width:650px) {
    footer {
        position: relative;
        font-size: 20px;
        bottom: 20px;
    }
}

/*footer font size for bigger monitor*/
@media screen and (min-width:780px) {
    footer {
        font-size: 30px;
    }
}   

.main {
    display: flex;
    justify-content: center;
    padding-top:  5%;
}

.container {
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    background-image: linear-gradient(50deg, #f08e38, #2acedafa);
}

.picture img {
    border-radius: 5px;
    width: 400px;
    height: 600px;
    margin-bottom: 5px;
}

.textBox {
    border: 3px solid rgb(41, 116, 177);
    width: 380px;
    padding: 5px;
}

.registerForm {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 240px;
    margin-top: 10px;
    height: 400px;
    padding: 5px;
}

.registerForm label {
    margin: 4px;
}

.registerForm input {
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
}

.active:active {
    border: 2px solid red;
}

.registerForm button {
    padding: 5px;
    margin-top: 20px;
    width: 120px;
    height: 30px;
}

.confirmations li {
    list-style-type: none;
}

footer {
    display: flex;
    justify-content: center;
    margin: 50px;
    gap: 7px;
    font-weight: 700;
}

footer svg {
    color: black;
    transition: 0.3s;
    border-radius: 15px;
}

footer svg:hover{
    color: white;
    box-shadow: 0 0 10px #ffffff, 0 0 30px #ffffff, 0 0 60px  #ffffff;
}

